header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}