.contentText {
    color: white;
    padding: 20px;
    padding-top: 30px;
    padding-left: 200px;
}

.sectionContent {
    background-color: black;
    min-height: 100px;
}

.sectionContentList {
    background-color: blue;
    min-height: 150px;
}

.whiteBg {
    color: white;
    vertical-align: middle;
}

.listItem {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    list-style: none;
}

.dFlexList {
    display: flex;
    justify-content: space-between;
}

.container {
    min-height: 50vh;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    background-color: black;
}

/**cards */
.cardsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}

.cardImage {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.cardTitle {
    font-size: 18px;
    margin-top: 10px;
}

.cardDate {
    font-size: 14px;
    color: gray;
}